<html>
    <head>
        <link rel="stylesheet" href="style.css">
        <title>Kyiro's Website</title>
    </head>
    <body class="dark:bg-zinc-900">
        <div class="flex justify-center">
            <div class="flex flex-col p-24 max-w-5xl w-full gap-8">
                {% include "./components/profile.njk" %}
            </div>
        </div>
    </body>
</html>